.trigger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: calc(10px + 1.5vmin);

    .sorting {
        color: black;
        margin-right: 30px;
    }

    .triggers {
        display: flex;
        align-items: center;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .triggers::-webkit-scrollbar {
        display: none;
    }

}
