.view {
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cats {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        grid-gap: 50px;
        box-sizing: border-box;
        padding: 30px 40px;
    }

}
