.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 50px;
    box-sizing: border-box;
    padding: 30px 40px;
}

.view {
    width: 900px;
    max-width: 100%;
}
